{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
<!-- Vous pouvez ajouter ici d'autres feuilles de style pour la page -->
<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity 1s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active dans <2.1.8 */ {
        opacity: 0;
    }
</style>
{% endblock %}

{% block body %}


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const confirmButton = document.getElementById('confirmButton');
        const confirmDelete = document.getElementById('confirmDelete');

        confirmButton.disabled = true;
        confirmDelete.addEventListener('input', function() {
            if (confirmDelete.value === 'SUPPRIMER') {
                confirmButton.disabled = false;
            } else {
                confirmButton.disabled = true;
            }
        });
        
        confirmButton.addEventListener('click', function() {
            if (confirmDelete.value === 'SUPPRIMER') {
                window.location.href = "{{ path('app_account_delete') }}";
            } else {
                alert('Veuillez écrire SUPPRIMER pour confirmer.');
            }
        });
    });
</script>

    <div class="container mt-5">
    <br><h1></h1><br>
<h1 class="mb-4"></h1>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success fade">
        {{ message }}
    </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
    <div class="alert alert-danger fade">
        {{ message }}
    </div>
    {% endfor %}





        <!-- Profil Form -->
        <div class="card">
            <div class="card-header">
                <h3>Profil</h3>
            </div>
            <div class="card-body">
                {{ form_start(profile_form) }}
                    <div class="mb-3">
                        {{ form_label(profile_form.first_name, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(profile_form.first_name, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(profile_form.first_name) }}</span>
                    </div>
                    <div class="mb-3">
                        {{ form_label(profile_form.last_name, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(profile_form.last_name, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(profile_form.last_name) }}</span>
                    </div>
                    <div class="mb-3">
                        {{ form_label(profile_form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(profile_form.email, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(profile_form.email) }}</span>
                    </div>
                    <div class="mb-3">
                        {{ form_label(profile_form.phone_number, 'N° de téléphone', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(profile_form.phone_number, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(profile_form.phone_number) }}</span>
                    </div>
                    <div class="mb-3">
                        {{ form_label(profile_form.adress, 'Adresse', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(profile_form.adress, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(profile_form.adress) }}</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_label(profile_form.postal_code, 'Code postal', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(profile_form.postal_code, {'attr': {'class': 'form-control'}}) }}
                            <span class="text-danger">{{ form_errors(profile_form.postal_code) }}</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_label(profile_form.city, 'Ville', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(profile_form.city, {'attr': {'class': 'form-control'}}) }}
                            <span class="text-danger">{{ form_errors(profile_form.city) }}</span>
                        </div>
                    </div>
                    <!-- Ajouter d'autres champs de profil ici de la même manière -->
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Changer les informations</button>
                    </div>
                {{ form_end(profile_form) }}
            </div>
        </div>

        <!-- Change Password Form -->
        <div class="card mt-4">
            <div class="card-header">
                <h3>Changer le mot de passe</h3>
            </div>
            <div class="card-body">
                {{ form_start(change_password_form) }}
                    <div class="mb-3">
                        {{ form_label(change_password_form.old_password, 'Ancien mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(change_password_form.old_password, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(change_password_form.old_password) }}</span>
                    </div>
                    <div class="mb-3">
                        {{ form_label(change_password_form.new_password, 'Nouveau mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(change_password_form.new_password, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(change_password_form.new_password) }}</span>
                    </div>
                    <div class="mb-3">
                        {{ form_label(change_password_form.confirm_new_password, 'Confirmer le nouveau mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(change_password_form.confirm_new_password, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(change_password_form.confirm_new_password) }}</span>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
                    </div>
                {{ form_end(change_password_form) }}
            </div>
        </div>
    </div>

    {% if app.user and 'ROLE_ADMIN' not in app.user.roles %}
        <div class="mb-3 mt-5 text-center">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                Supprimer mon compte
            </button>
        </div>
    {% endif %}



    <!-- Modal -->
    
    <div class="modal fade" id="deleteAccountModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmer la suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <h3>Êtes-vous sûr de vouloir supprimer votre compte ?</h3>
                    <p>Écrire <strong>SUPPRIMER</strong> pour confirmer la supression de votre compte et de tous vos fichiers.</p>
                    <input type="text" id="confirmDelete" placeholder="Écrire SUPPRIMER">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" id="confirmButton">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <script>
document.addEventListener("DOMContentLoaded", function() {
    const confirmButton = document.getElementById('confirmButton');
    const confirmDelete = document.getElementById('confirmDelete');
    
    confirmButton.disabled = true;
    confirmDelete.addEventListener('input', function() {
        if (confirmDelete.value === 'SUPPRIMER') {
            confirmButton.disabled = false;
        } else {
            confirmButton.disabled = true;
        }
    });

    confirmButton.addEventListener('click', function() {
        if (confirmDelete.value === 'SUPPRIMER') {
            window.location.href = "{{ path('app_account_delete') }}";
        } else {
            alert('Veuillez écrire SUPPRIMER pour confirmer.');
        }
    });
});
</script>

{% endblock %}

