{# templates/invoice.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Facture - {{ invoice.invoiceNumber }}{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1 class="text-center mb-5 display-4">Facture N° {{ invoice.invoiceNumber }}</h1>

    <!-- Client Information -->
    <div class="card mb-5 shadow-sm">
        <div class="card-header bg-primary text-white">
            Informations du client
        </div>
        <div class="card-body">
            <p><strong>Nom Complet :</strong> {{ invoice.user.getFullName() }}</p>
            <p><strong>Email :</strong> {{ invoice.user.getEmail() }}</p>
            <p><strong>Adresse :</strong> {{ invoice.user.getAdress() }}, {{ invoice.user.getPostalCode() }}, {{ invoice.user.getCity() }}</p>
            <p><strong>Téléphone :</strong> {{ invoice.user.getPhoneNumber() }}</p>
        </div>
    </div>

    <!-- Invoice Details -->
    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            Détails de la facture
        </div>
        <div class="card-body">
            <p><strong>Date de la facture :</strong> {{ invoice.invoiceDate|date('d/m/Y') }}</p>
            <p><strong>Montant :</strong> {{ invoice.amount }} €</p>
        </div>
    </div>

    <!-- Back to invoices button -->
    <div class="mt-5 text-center">
        <a href="{{ path('user_invoices') }}" class="btn btn-primary btn-lg shadow-sm">Voir toutes mes factures</a>
    </div>
</div>




{% endblock %}
