{% extends 'base.html.twig' %}
{% block body %}

<meta charset="UTF-8">

<div class="container mt-5">

    {% for message in app.flashes('error') %}
    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <h2 class="text-center mb-5 animated fadeIn">Vos factures</h2> <!-- fadeIn animation added -->

    <table class="table table-hover animated fadeInUp"> <!-- fadeInUp animation added -->
        <thead class="thead-dark">
            <tr>
                <th>Numéro de Facture</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoiceNumber }}</td>
                <td>{{ invoice.invoiceDate|date('d/m/Y') }}</td>
                <td>{{ invoice.amount }} €</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_show_invoice', {'id': invoice.id}) }}">Visualiser Les Détails</a>
                    <a class="btn btn-success btn-sm ml-2" href="{{ path('invoice_pdf', {'id': invoice.id}) }}">Télécharger PDF</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
