{% extends 'base.html.twig' %}

{% block title %}Fichiers{% endblock %}

{% block body %}
<div class="container mt-5">

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('dropzone_success') %}
    <div class="alert alert-success" role="alert" data-turbo-cache="false">
        {{ message }}
    </div>
{% endfor %}

    <div class="card">
        <div class="card-header">
            Télécharger un fichier
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form'}}) }}
            <div class="mb-3">
                {{ form_label(form.file, 'Fichier', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<div class="container mt-5">
    <h3>Vos fichiers :</h3>
    
    {# Calculer la taille totale des fichiers #}
    {% set totalSize = 0 %}
    {% for file in files %}
        {% set totalSize = totalSize + file.size %}
    {% endfor %}

    {# Afficher la taille totale #}
    <p><strong>Taille totale des fichiers:</strong> {{ totalSize }} Octets</p>

{# Utilisez la constante pour une meilleure lisibilité #}
{% set GB_IN_BYTES = 1024 * 1024 * 1024 %}

<p><strong>Espace utilisé:</strong> {{ (app.user.usedSpace * GB_IN_BYTES)|number_format(0, ',', '') }} Octets</p>
<p><strong>Espace total disponible:</strong> {{ (app.user.totalSpace * GB_IN_BYTES)|number_format(0, ',', '') }} Octets</p>
<p><strong>Espace restant:</strong> {{ ((app.user.totalSpace * GB_IN_BYTES) - (app.user.usedSpace * GB_IN_BYTES))|number_format(0, ',', '') }} Octets</p>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Taille</th>
                <th scope="col">Date d'ajout</th>
                <th scope="col">Visualiser</th>
                <th scope="col">Télécharger</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ file.name }}</td>
                <td>{{ file.size }} Octets</td>
                <td>{{ file.date|date('d/m/Y H:i') }}</td>
                <td>
                    <a href="{{ path('app_file_view', {'id': file.id}) }}" class="btn btn-info">Visualiser</a>
                </td>
                <td>
                    <a href="{{ path('file_download', {'id': file.id}) }}" class="btn btn-primary">Télécharger</a>
                </td>
                <td>
                    <form action="{{ path('file_delete', {'id': file.id}) }}" method="post" onsubmit="return confirmDelete();">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                    <script>
                        function confirmDelete() {
                            return confirm("Êtes-vous sûr de vouloir supprimer ce fichier ?");
                        }
                    </script>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
