
{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            {{ file.name }}
            <a href="{{ path('app_file') }}" class="btn btn-primary float-right">Retour</a>
        </div>
        <div class="card-body">
            {% if isPdf %}
                <embed src="{{ path('app_file_serve', {'filename': file.getFile}) }}" type="application/pdf" class="w-100" style="height:80vh;" />
            {% else %}
                <img src="{{ path('app_file_serve', {'filename': file.getFile}) }}" alt="Image" class="img-fluid rounded">
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{{ path('file_delete', {'id': file.id}) }}" class="btn btn-danger" onclick="return confirm('Voulez-vous vraiment supprimer ce fichier?');">Supprimer</a>
        </div>
    </div>
</div>

{% endblock %}

