
<style>
.logo {
    width: 250px;
    height: auto;
}

.logout-icon {
    width: 50px;
    height: auto;
}
</style>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" {% if not app.user %}style="display: none"{% endif %}>
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_file') }}">
            <img src="{{ asset('logo/LogoSavinSafe_white.png') }}" alt="Saving Safe" style="width: 250px; height: auto; logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_account' %}active{% endif %}">
                    <a class="nav-link" aria-current="page" href="{{ path("app_account") }}">Profil</a>
                </li>
                {% if app.user is defined and app.user.roles is defined and 'ROLE_ADMIN' in app.user.roles %}
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'app_client' %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{{ path('app_client') }}">Liste des clients</a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'app_stats' %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{{ path('app_stats') }}">Statistiques</a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'app_all_client_files' %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{{ path('app_all_client_files') }}">Fichiers des clients</a>
                    </li>
                {% endif %}
                {% if app.user is defined and app.user.roles is defined and 'ROLE_ADMIN' not in app.user.roles %}
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'user_invoices' %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{{ path('user_invoices') }}">Mes factures</a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'app_file' %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{{ path('app_file') }}">Fichiers</a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'app_purchase_storage' %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{{ path('app_purchase_storage') }}">Achat de 20GO</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <a href="{{ path('app_logout') }}" {% if app.request.pathInfo == '/logout' %}class="menu-current logout-icon"{% endif %} onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
            <img src="{{ asset('logo/logout_icon.png') }}" alt="Se déconnecter" style="width: 50px; height: auto;" />
        </a>

        <form id="logout-form" action="{{ path('app_logout') }}" method="post" style="display: none;">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
        </form>
    </div>
</nav>
