<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" {% if not app.user %}style="display: none"{% endif %}>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Saving Safe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_account' %}active{% endif %}">
                    <a class="nav-link" aria-current="page" href="{{ path("app_account") }}">Profil</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_account' %}active{% endif %}">
                    <a class="nav-link" aria-current="page" href="{{ path("app_stripe") }}">Espace de stockage</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_account' %}active{% endif %}">
                    <a class="nav-link" aria-current="page" href="{{ path('user_invoices') }}">Mes factures</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_account' %}active{% endif %}">
                    <a class="nav-link" aria-current="page" href="{{ path('app_file') }}">Fichiers</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_account' %}active{% endif %}">
                    <a class="nav-link" aria-current="page" href="{{ path('app_purchase_storage') }}">Achat de 20GO</a>
                </li>
            </ul>
        </div>

        <a href="{{ path('app_logout') }}" {% if app.request.pathInfo == '/logout' %}class="menu-current"{% endif %} onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Se déconnecter</a>

        <form id="logout-form" action="{{ path('app_logout') }}" method="post" style="display: none;">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
        </form>
    </div>




    {# <ul {% if not app.user %}style="display: none"{% endif %}> #}
        {# Sous-menu "Se déconnecter" #}
        {# <li>
            <a href="{{ path('app_logout') }}" {% if app.request.pathInfo == '/logout' %}class="menu-current"{% endif %} onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Se déconnecter</a>
        </li>

        <form id="logout-form" action="{{ path('app_logout') }}" method="post" style="display: none;">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
        </form>
    </ul> #}
</nav>