{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}


{% block body %}   
<div class="container">
    <div id="login-box" class="center-box-login">
        <div class="logo">
            <!-- <img src="{{ asset('build/images/LogoSavinSafe.png') }}" class="img img-responsive img-circle center-block"/>   -->
            <h1 class="logo-caption"><span class="tweak">Se</span> Connecter</h1>
        </div><!-- /.logo -->
        <div class="controls">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <form action="{{ path('app_login') }}" method="post">
                <input type="text" name="_username" placeholder="Email" class="form-control" value="{{ last_username }}" />
                <input type="password" name="_password" placeholder="Password" class="form-control" />
                <input type="hidden" name="_target_path" value="/">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-default btn-block btn-custom">Login</button>
            </form>
            <br><br>
            <!-- Bouton d'inscription ajouté ici -->
            <div class="center-button">

            <a href="{{ path('app_register') }}" class="btn btn-secondary btn-lg active btn-register" role="button" aria-pressed="true">S'inscrire</a>
</div>
        </div>
    </div>
</div>
<div id="particles-js"></div>


{% endblock %}

{% block javascripts %}
    <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
    <script src="{{ asset('js/login.js') }}"></script>
{% endblock %}
