{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block stylesheets %}
<style>
    body {
        padding-top: 120px;
    }
</style>
{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Liste des Clients</h1>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom du client</th>
                    <th scope="col">Espace utilisé</th>
                    <th scope="col">Espace total disponible</th>
                    <th scope="col">Stockage</th>
                    {# <th scope="col">Supprimer</th> #}
                </tr>
            </thead>
            <tbody>
                {% for client in allClients %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ client.getFullName() }}</td>
                    <td>{{ client.usedspace|number_format(9, '.', ',') }} Go</td>

                    <td>{{ client.totalspace }} Go</td>
                    <td>
                        {% set percentage = (client.usedspace / client.totalspace) * 100 %}
                        {# {{ dump(percentage) }} #}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ percentage }}%;" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    {# <td>
                        <form action="{{ path('file_delete', {'id': file.id}) }}" method="post" onsubmit="return confirmDelete();">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                        <script>
                            function confirmDelete() {
                                return confirm("Êtes-vous sûr de vouloir supprimer ce fichier ?");
                            }
                        </script>
                    </td> #}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
