{# templates/invoice.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Facture - {{ invoice.invoiceNumber }}{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Facture N° {{ invoice.invoiceNumber }}</h1>

    <div class="card mb-4">
        <div class="card-header">
            Informations du client
        </div>
        <div class="card-body">
            <p><strong>Nom Complet :</strong> {{ invoice.user.getFullName() }}</p>
            <p><strong>Email :</strong> {{ invoice.user.getEmail() }}</p>
            <p><strong>Adresse :</strong> {{ invoice.user.getAdress() }}, {{ invoice.user.getPostalCode() }}, {{ invoice.user.getCity() }}</p>
            <p><strong>Téléphone :</strong> {{ invoice.user.getPhoneNumber() }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Détails de la facture
        </div>
        <div class="card-body">
            <p><strong>Date de la facture :</strong> {{ invoice.invoiceDate|date('d/m/Y') }}</p>
            <p><strong>Montant :</strong> {{ invoice.amount }} €</p>
        </div>
    </div>

    <!-- Ajout du bouton pour rediriger vers la page des factures de l'utilisateur -->
    <div class="mt-4 text-center">
        <a href="{{ path('user_invoices') }}" class="btn btn-primary">Voir toutes mes factures</a>
    </div>
</div>

{% endblock %}
